/* Container for the entire form */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    padding: 20px;
    box-sizing: border-box;
    max-width: 500px; /* Genişliği artır */
    margin: 0 auto; /* Sayfa içeriğini ortala */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the input containers */
.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 300px;
}

/* General styling for the inputs */
.input {
    width: 400px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Styling for the icon buttons */
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon {
    width: 24px;
    height: 24px;
}

/* Styling for the save button */
.button {
    width: 300px;
    padding: 10px;
    background-color: #3044b5; /* Set background color to #3044b5 */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #203080; /* Change hover background color for better contrast */
}
